img[alt="medium-photo"] {
  border: 5px solid gray;
  border-radius: 5px;
  box-shadow: 4px 4px 3px #111;
}

.photo-box {
  padding: 5px;
  max-width: 90%;
}

header {
background-color: #222;
  color: #828;
}

body {
  background-color: #222;
  color: #aaa;
  font-size: 16px;
  line-height: 1.5;
}

.summary, .date {
  color: #eee;
  font-weight: normal;
}

.info h3 {
  color: #faf;
}

a {
  color: #8C326E;
}

a:hover {
  color: #c8d;
  text-decoration: none;
}

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

li {
    float: left;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  color: #c8d;
  text-decoration: none;
}


blockquote {
  border: none;
  padding: 40px;
}

header h1 {
  font-weight: normal;
}

.title {
  color: #aaa;
}
